@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model StudioBriefcase.Models.BaseMapModel
@{
}
<div class='form expanded' id='PostCreationForm'>

    <div class='form-content c-bg show'>
        <div class="box-row p5">
            <span class="text-sm" id="logresult-container">Success/Fail Message Appear Here</span>
        </div>
        
        @* <form method="post" action="/api/librarylink/Index"> *@
        @* <form method="post" action="/api/librarylink/Index"> *@
        <div class="box-row">
            <div class="box-col">
                <label for="categoryName">Category Name:</label>
                <input style="width:125px;" type="text" name="categoryName" id="submissionForm-category" value="@Model.categoryName" required>
            </div>
            <div class="box-col">
                <label for="libraryName">Library Name:</label>
                <input style="width:125px;" type="text" name="libraryName" id="submissionForm-library" value="@Model.libraryName" required>
            </div>
        </div>

        <div class="box-row">
            <div class="box-col">
                <label for="subjectName">Subject Name:</label>
                <input style="width:100px;" type="text" name="subjectName" id="submissionForm-subject" value="@Model.subjectName" required>
            </div>
            <div class="box-col">
                <label for="topicName">Topic Name:</label>
                <input style="width:100px;" type="text" name="topicName" id="submissionForm-topic" value="@Model.topicName" required>
            </div>
            <div class="box-col">
                <label for="sectionValue">Section Value:</label>
                <input style="width:50px;" type="number" name="sectionValue" id="submissionForm-section" value="@Model.sectionValue" required>
            </div>
        </div>

        <h5>Filter Parameters</h5>
        <div class="box-wraprow">
            <div class="box-col p4 show">
                <div class="box-row">
                    <label for="weblink">Weblink: </label>
                    <input style="width:fit-content" type="text" name="weblink" id="submissionForm-weblink" value="@Model.weblink" required><br>
                </div>
                <div class="bow-row">
                    <label for="PostType">Type of Post:</label>
                    <select name="Language" id="submissionForm-posttype">
                        <partial name="\Components\Posts\_PostTypeOptions" />
                    </select>
                </div>
                <div class="box-row">
                    <label class="p2" for="language">Language:</label>
                    <select class="zero" name="Language" id="submissionForm-language">
                        <option value="1">English</option>
                    </select>

                </div>

            </div>

            <div class="box-col p4 show">
                @await Component.InvokeAsync("LibraryTags", new { FormID = 1 })
            </div>



        </div>

        <button onclick="InsertLinkToDatabase()">Insert</button>
        @* </form> *@

    </div>
    <div class='form-background' onclick=ToggleExpanded('PostCreationForm')></div>
</div>