@*
    _subLayout_Library component used to create links in the navigation bar.

    Created for StudioBriefcase by:  Tyler Andrew Reber
*@

@* @model List<StudioBriefcase.Models.SubjectModel>; *@
@model StudioBriefcase.Models.SubLayoutNavigationModel;

@if(Model.languageID != 0)
{
     <details class="">
        <summary class="summary-icon-book"></summary>
        <form method="post" asp-page-handler="UpdateSubjectAlias">
            <label>@(Model.subject?.text)</label>
            <input type="text" name="aliasname" value="@(Model.subject?.alias)" autocomplete="off" placeholder="@(Model.subject?.text)">
            <input type="text" name="mapid" value="@(Model.subject?.id)" readonly hidden>
            <input type="text" name="langid" value="@Model.languageID" readonly hidden>
            <input type="submit" value="Save">
        </form>
        <form method="post" asp-page-handler="UpdateTopicAlias">
            <label>@(Model.topic?.text)</label>
            <input type="text" name="aliasname" value="@(Model.topic?.alias)" autocomplete="off" placeholder="@(Model.topic?.text)">          
            <input type="text" name="mapid" value="@(Model.topic?.id)" readonly hidden>
            <input type="text" name="langid" value="@Model.languageID" readonly hidden>
            <input type="submit" value="Save">
        </form>
    </details> 
}

<ul class="navigation-subject-list">

    @foreach (var subject in Model.Links)
    {
        <li>
            <div>
                <button class="navigation-toggle-btn" type="button" onclick="ToggleExpanded('@(subject.Name)')">
                    @(subject.Name)
                </button>
                <div class="navigation-topics-container" id="@(subject.Name)">
                    <ul class="navigation-topic-list">
                        @foreach (var topic in subject.Topics)
                        {
                            <li><a class="navigation-topic-style" id="language-parameter" asp-page="@(topic.PathUrl)">@(topic.Name)</a></li>
                        }


                    </ul>
                </div>
            </div>
        </li>
    }
</ul>