@* 
StudioBriefcase/Pages/Shared/Components/Page/_PageSection_Post.cshtml
By: Tyler Andrew Reber

PageSections are intended to be reusuable containers for different types of content hosted in the database.
*@

@model StudioBriefcase.Models.LibrarySectionModel;

<div class="accordion w100">

    <div class="accordion-item c-bg">

        <button class="accordion-toggle c-fg event-toggle" type="button" data-target="@Model.sectionlocation">
            <h6>Section @Model.sectionlocation</h6>
        </button>

        <div class="accordion-target-vertical box-col" id="@Model.sectionlocation">

            @* todo: row of partial views called tabs *@
            <div class="box-col zero">
                <div class="box-wraprow box-center3">

                    <div class="box-row zero">

                        @* enter all tabs here *@
                        @* <button>Article</button> *@
                        <button data-type='video' data-section='@(Model.sectionlocation)' onclick='VideoButtonTest(this)' id='videobuttontest'>Video</button>
                        @* <button>Stackoverflow</button> *@

                    </div>
                    <div class="box-row">
                        @*                         @if(User.Identity?.IsAuthenticated == true)
                        { *@
                        @*<label for="PostType">Post Type:</label>
                        <select name="sectionPostType@(Model.sectionlocation)" id="LinkType@(Model.sectionlocation)">
                        <partial name="\Components\Posts\_PostTypeOptions" />
                        </select> *@
                        <input type="text" class="text-sm" id="sectionInspectorInput@(Model.sectionlocation)" value="TODO_POST_LINK" />
                        <button onclick="OpenPostDetailsForm(@(Model.sectionlocation))">Inspect</button>
                        @*                         }
                        else
                        {
                        <span class="text-md">Login to Add Post</span>
                        } *@

                    </div>

                </div>
                <div class="box-col w100 zero section-viewport" id="viewport@(Model.sectionlocation)" loading="lazy">
                </div>

            </div>

        </div>
    </div>
</div>
