@page
@model StudioBriefcase.Pages.Shared.Forms.SettingsPageModel

@{
    //Settings Page is Deprecated
    // --- Save as Example and Prototype Code for Future Reference ---
    Layout = "_Form_Layout";
}


@if(User.Identity?.IsAuthenticated == true)
{
    <div class="box-col">
        @* <span>@User.FindFirst("sub")</span> *@
        <span>@User.FindFirst("name")</span>
        <span>@User.FindFirst("website")</span>
        <span>@User.FindFirst("picture")</span>
        <span>@User.FindFirst("class")</span>
        <span>@User.FindFirst("privilege")</span>
    </div>

    
    <form method="post" enctype="multipart/form-data">
        <select asp-for="_userClass" id="Menu_RoleDropdown" onchange="updateUserRole()">
            <option value="Private">Private</option>
            <option value="Student">Student</option>
            <option value="Teacher">Teacher</option>
            <option value="Educator">Educator</option>
            <option value="Professional">Professional</option>
            <option value="Researcher">Researcher</option>
            <option value="Content Creator">Content Creator</option>
        </select>
        <input style="display: none;" asp-for="_gitUserID" value="@User.FindFirst("sub")?.Value" />
        <input asp-for="_userClass" id="SelectedRole" name="SelectedRole" placeholder="@User.FindFirst("class")?.Value" />

        <button class="" type="submit"><span class="text-sm" style="color:inherit">Apply</span></button>
        @* <button class="" type="submit" asp-page-handler="TestMethod"><span class="text-sm" style="color:inherit">Test Method</span></button> *@
    </form>

}
else
{
    <h6>Not Authenticated</h6>
}


<button class="" onclick="SettingsCancel()"><span class="text-sm" style="color:inherit">Cancel</span></button>


<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<script>


    function SettingsSave() {
        window.close();
    }

    function SettingsCancel() {
        window.close()
    }

</script>
